body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 34.38rem;
  text-align: center;
  margin: auto;
}
